.aboutContentDesc{
	font-size: 20px;
	color:#212121;
	padding: 40px 0;
	text-align: center;
}
.aboutContentContainerAboutMe p{
	padding: 25px 60px 0;
	text-align: center;
	color: #A8A8A8;
	line-height: 25px;
	font-size: 12px;
	text-align: justify;
}
.aboutContentSkillsDesc{
	text-align: center;
	font-size: 16px;
	padding-bottom: 50px;
	letter-spacing: 2px;
	font-family: 'Lora';
}
.aboutContentContainerSkills{
	width: 260px;
	margin: 0 auto 100px;
}
.aboutContentContainerSkillsPercent{
	height: 2px;
 	width: 100%;
	background: black;
	position: relative;
}
.aboutContentContainerProgressSkills{
	margin-bottom: 16px
}
.aboutContentContainerSkillsDescription h5{
	color: dimgray;
	font-weight: normal;
	display: inline;
	padding: 3px
}
.aboutContentContainerSkillsDescription{
	display: flex;
	justify-content: space-between;
}
.aboutContentContainerExperienceContent{
	padding: 70px 60px;
	text-align: center;
}
.aboutContentContainerExperienceContent h5{
	padding-bottom: 15px;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: 'Lora'
}
.aboutContentContainerExperienceContent p{
	color: #A8A8A8;
	line-height: 25px;
	font-size: 12px;
	text-align: justify;
}



.aboutContentContainerSkills .aboutContentContainerProgressSkills:nth-child(n) .aboutContentContainerSkillsPercent:after{
	content: '';
	position: absolute;
	right: 0;
	top:0;
	height: 2px;
	width: 50%;
	background: silver;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(1) .aboutContentContainerProgressSkills:nth-child(1) .aboutContentContainerSkillsPercent:after{
	width: 20%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(1) .aboutContentContainerProgressSkills:nth-child(2) .aboutContentContainerSkillsPercent:after{
	width: 40%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(1) .aboutContentContainerProgressSkills:nth-child(3) .aboutContentContainerSkillsPercent:after{
	width: 25%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(2) .aboutContentContainerProgressSkills:nth-child(1) .aboutContentContainerSkillsPercent:after{
	width: 20%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(2) .aboutContentContainerProgressSkills:nth-child(2) .aboutContentContainerSkillsPercent:after{
	width: 30%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(2) .aboutContentContainerProgressSkills:nth-child(3) .aboutContentContainerSkillsPercent:after{
	width: 45%;
}

.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(1) .aboutContentContainerProgressSkills:nth-child(1) .aboutContentContainerSkillsDescription{
	width: 80%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(1) .aboutContentContainerProgressSkills:nth-child(2) .aboutContentContainerSkillsDescription{
	width: 60%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(1) .aboutContentContainerProgressSkills:nth-child(3) .aboutContentContainerSkillsDescription{
	width: 75%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(2) .aboutContentContainerProgressSkills:nth-child(1) .aboutContentContainerSkillsDescription{
	width: 80%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(2) .aboutContentContainerProgressSkills:nth-child(2) .aboutContentContainerSkillsDescription{
	width: 70%;
}
.aboutContentContainerSkills .aboutContentContainerProgressContainer:nth-child(2) .aboutContentContainerProgressSkills:nth-child(3) .aboutContentContainerSkillsDescription{
	width: 55%;
}






/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/


@media (min-width: 541px){
	.aboutContentContainerSkills{
		width: 450px;
		display: flex;
		justify-content: space-between;
		padding: 0;;
	}
	.aboutContentContainerProgressContainer{
		width: 45%;
		display: block;
		float: left;
	}

	.aboutContentContainerExperienceContent{
		width: 50%;
		float: left;
		padding: 150px 60px;
		
	}
	.aboutContentSkillsDesc{
		clear: both;
	}
}

/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/

@media (min-width: 769px){
	.aboutContent{
		width: 75%;
		float: right;
		padding-left: 30px;
	}
	.aboutContentContainerAboutMe h5{
		padding: 200px 0 15px 0;
		text-align: left;
	}
	.aboutContentContainerAboutMe p{
		width: 60%;
		margin: 0 auto;
		padding: 25px 0 0;
		
}
	.aboutContentContainerSkills{
		width: 640px;
	}

	.aboutContentDesc{
		font-size: 24px;
		width: auto;
		padding: 60px 0;
		text-align: center;
	}
	
}

/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/

@media (min-width: 1367px){
	.aboutContentContainerExperienceContent{
		padding: 150px 100px;
	}
}

/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/
/*===================================================================================================================*/
